.top{
    display: flex;
    justify-content: center;
    margin-top: 5px;

}
.nav-link{
    display: flex;
    justify-content: space-around;
}
.nav-link img{
    width: 30px;
}
.nav-link div{
    font-size: 12px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin-left: 10%;
}